# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
Login_site/settings.py
Login_site/__pycache__/
db.sqlite3


